.form-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
}

.form-container img{
    position: relative;
    min-width: 320px;
    width: auto;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    min-height: 250px;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
   
}

.form-title{
    position: relative;
    font-size: 2.6rem;
    display: flex;
    color: white;
    align-items:flex-end;
    text-align: justify;
    justify-content:center;
    padding-left: 20px;
    padding-right: 80px;
    top: -110px;
    min-width: 320px;
    width: 100%;
    height: 110px;
    margin: 20px auto;
    background: linear-gradient(360deg, rgba(0, 49, 75, 0.99) 47.84%, rgba(0, 49, 75, 0.74993) 66.67%, rgba(0, 49, 75, 0) 97.37%);
    
}
.form-inputs{
    width: 100%;
    height: 606px;
    background: rgba(1, 49, 75, 1);
    display: flex;
    position: relative;
    top: -135px;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    

}

