.form-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
}

.form-container img{
    position: relative;
    min-width: 320px;
    width: auto;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    min-height: 250px;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
   
}

.form-title{
    position: relative;
    font-size: 2.6rem;
    display: flex;
    color: white;
    align-items:flex-end;
    text-align: justify;
    justify-content:center;
    padding-left: 20px;
    padding-right: 80px;
    top: -110px;
    min-width: 320px;
    width: 100%;
    height: 110px;
    margin: 20px auto;
    background: linear-gradient(360deg, rgba(0, 49, 75, 0.99) 47.84%, rgba(0, 49, 75, 0.74993) 66.67%, rgba(0, 49, 75, 0) 97.37%);
    
}
.form-inputs{
    width: 100%;
    min-width: 320px;
    min-height: 520px;
    background: rgba(1, 49, 75, 1);
    display: flex;
    position: relative;
    top: -135px;
    justify-content: center;
    
    
}
.form-label--input{
    display: grid;
    grid-template-rows: 20px 20px  ;
    grid-auto-rows: 290px;
    grid-auto-flow:column;
    width: 100%;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
    padding-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    
    
}
.form-label--container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.form-label--input label{
    min-width: 280px;
    width: 100%;
    
}
.form-label--input input{
    background-color: transparent;
    border:none;
    border-bottom: 2px white solid;
    height: 20px;
    width: 100%;
    
}

.form-label--input ::placeholder{
    color: white;
    font-family: 'Nunito', sans-serif;
}
.form-checkbox{
    display: flex;
    position: relative;
    margin:0 auto;
    font-size: 1.4rem;
    color:white;
    width: 80%;
    min-width: 280px;
}
.button-form{
    position: absolute;
    left: calc(50% - 119.5px);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 39px;
    width:239px ;
    height: 46px;
    background:rgba(114, 160, 210, 1);
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    color: white;
    margin-top: 50px;
    
    
}

/* 
.input-container {
    width: 80%;
    height: 50px;
    font-size: 1.5rem;
    margin: 0 auto;
    
    
 }

.text-field {
    background-color: transparent !important;
    height: 50px;
}

.input-label {
    color: white !important;
    font-size: 1.4rem !important;
    height: 20px;
    line-height: 20px;
    font-family: sans-serif !important;
}

.form-input {
    border-bottom-color: white !important;
    color: white !important;
    font-size: 1.8rem !important;
    line-height: 1.8rem;
    caret-color: white !important;
}

.input-ripple {
    background: white !important;
}  */
